version: "3.9"

services:
  evolution-api:
    image: evoapicloud/evolution-api:latest
    platform: linux/arm64
    container_name: evolution_api
    restart: always
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    networks:
      - evolution-network

  postgres:
    image: postgres:15-alpine
    container_name: evolution_postgres
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - evolution-network

  redis:
    image: redis:7-alpine
    container_name: evolution_redis
    restart: always
    command: redis-server --appendonly yes
    env_file:
      - .env
    volumes:
      - redis_data:/data
    networks:
      - evolution-network

volumes:
  postgres_data:
  redis_data:

networks:
  evolution-network:
    name: evolution-network
    driver: bridge

