version: "3.9"

services:
  evolution-api:
    image: evoapicloud/evolution-api:latest
    container_name: evolution_api
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    networks:
      - evolution-network

  postgres:
    image: postgres:15
    container_name: evolution_postgres
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - evolution-network

  redis:
    image: redis:7
    container_name: evolution_redis
    restart: always
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    networks:
      - evolution-network

  reportes_tres_estrellas:
    image: elelbah43do/reporte_tres_estrellas:1.0
    container_name: reporte_tres_estrellas
    restart: always
    env_file:
      - .env
    networks:
      - evolution-network

volumes:
  postgres_data:
  redis_data:

networks:
  evolution-network:
    driver: bridge

