version: "3.9"

services:
  evolution-api:
    image: evoapicloud/evolution-api:latest
    platform: linux/arm64
    container_name: evolution_api
    restart: always
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    networks:
      - evolution-network

  postgres:
    image: postgres:15-alpine
    container_name: evolution_postgres
    restart: always
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U evolution"]
      interval: 20s
      timeout: 20s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - evolution-network

  redis:
    image: redis:7-alpine
    container_name: evolution_redis
    restart: always
    env_file:
      - .env
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    networks:
      - evolution-network

  reportes_tres_estrellas:
    image: elelbah43do/reporte_tres_estrellas:1.12
    container_name: reporte_tres_estrellas
    restart: always
    env_file:
      - .env
    networks:
      - evolution-network
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres_data:
  redis_data:

networks:
  evolution-network:
    name: evolution-network
    driver: bridge

